footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer p {
    font-family: var(--font-text);
    color: var(--color-deep-navy-blue);
    
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
       
}

@media screen and (max-width: 576px){
    p {
        font-size: 12px;
    }
}