.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  width: 100vh;
  height: 100%;
  

}

.drum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  padding: 15px;
  background-color: var(--color-deep-navy-blue); 
  margin: 48px auto;
  /*border-radius: 8px;*/
  outline: 5px solid var(--color-deep-navy-blue);

}

.drum-display {
  width: 240px;
  background-color: var(--color-deep-navy-blue);
  height: 5px;
  color: var(--color-matte-gold);
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px 5px;
  text-align: center;
  margin: 20px 0;
  border: 1px solid #000000;
}

 h1  {
  vertical-align: middle;
  padding: 10px 5px 20px;
}

.pad-bank {
 display: inline-block;
 margin: 10px;
 padding-bottom: 20px;
 width: 100px * 3 + 32;
 height: 80px * 3 + 32;
}

.control {
  width: 100px;
  margin: auto;
}

p {
  font-family: var(--font-text);
  color: var(--color-very-lt-gray);
  margin-bottom: 0;
  text-align: center !important;
}

.select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}

.inner {
  width: 23px;
  height: 19px;
  background: var(--color-matte-gold);
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.volume-slider {
  background: black;
  margin: 10px 0;

}

input {
  width: 250px;
  margin: 5px 0;
}

@media (min-width: 576px) {
  .drum {
    max-width: 385px;
  }
}