.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  width: 100vh;
  height: 80%;
}

.drum {
  width: 400px;
  height: 600px;
  padding: 15px;
  background-color: var(--color-dk-cyan);
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 8px;

}

